In [1]:
##integers example

age=35
type(age)

int

In [3]:
##floating type datatype

height=3.11
print(height)
print(type(height))

3.11
<class 'float'>

In [4]:
##string datatype example

name="sandhya"
print(name)
print(type(name))

sandhya
<class 'str'>

In [8]:
##boolean datatype
is_true=True
type(is_true)

bool

In [11]:
a=10
b=10
type(a==b)

bool

In [13]:
## common errors

result="hello"+ (5)
print(result)

TypeError: can only concatenate str (not "int") to str

In [14]:
result="hello"+str(5)
print(result)

hello5