In [1]:

lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["sandhya","sayal","anu",1,2,3,4]
print(names)

['sandhya', 'sayal', 'anu', 1, 2, 3, 4]

In [3]:
mixed_list=[1,"hello",3,14,True]
print(mixed_list)

[1, 'hello', 3, 14, True]

In [4]:
##accessing the list items

fruits=["apple","banana","cherry","kiwi"]

In [9]:
print(fruits[0])
print(fruits[2])
print(fruits[3])
print(fruits[-1])

apple
cherry
kiwi
kiwi

In [13]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi']
['banana', 'cherry']

In [14]:
## modifying the list elements
fruits

['apple', 'banana', 'cherry', 'kiwi']

In [15]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi']

In [16]:
fruits[1:]="watermelon"

In [17]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [18]:
fruits=["apple","banana","cherry","kiwi"]

In [19]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [23]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'orange']

In [24]:
fruits.insert(1,"banana")
print(fruits)

['apple', 'banana', 'watermelon', 'banana', 'cherry', 'kiwi', 'orange']

In [25]:
fruits.remove("banana")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'orange']

In [26]:
## remove and return the last element

popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'banana', 'cherry', 'kiwi']

In [27]:
fruits.index("cherry")

3

In [28]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [29]:
fruits

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi']

In [31]:
fruits.sort()

In [32]:
fruits

['apple', 'banana', 'banana', 'cherry', 'kiwi', 'watermelon']

In [33]:
fruits.reverse()

In [34]:
fruits

['watermelon', 'kiwi', 'cherry', 'banana', 'banana', 'apple']

In [36]:
fruits.clear()

In [37]:
fruits

[]

In [39]:
## slicing list

numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
## iterative over list

for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [42]:
## iterating with index

for index,number in enumerate(numbers):
  print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [43]:
## list comprehension

for x in range(10):
  lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##  list comprehension

In [45]:
## basic list comprehension

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
## list comprehension with condition
lst=[]
for i in range(10):
  if i%2==0:
    lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [50]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [53]:
## nested list comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [56]:
## list comprehension with function calls
words =["hello","world","python","list","comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]