In [1]:
range(5)

range(0, 5)

In [3]:
##for loop

for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [6]:
range(1,10,2)

range(1, 10, 2)

In [7]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [10]:
##strings

str="sandhya mandlik"

for i in str:
  print(i)

s
a
n
d
h
y
a

m
a
n
d
l
i
k

In [2]:
## while loop

count=0

while count<6:
  print(count)
  count=count+1

0
1
2
3
4
5

In [3]:
count=0

while count%2==0:
  print(count)
  count=count+1

0

In [4]:
##loop control statements

##break
## the break statement exits the loop permanently

##break statement

for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [5]:
## continue statement

for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [6]:
# pass statement

for i in range(5):
  if i==3:
    pass
  print(i)

0
1
2
3
4

In [7]:
#nested loop 

for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [1]:
## examples
## calculate the sum of first n natural numbers using a while and for loop

n=10
sum=0
count=1

while count<=n:
  sum=sum+count
  count=count+1

print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [2]:
n=10
sum=0
for i in range(11):
  sum=sum+i

print(sum)

55

In [4]:
##exanple-prime numbers between 1 and 100

for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break

    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97