In [1]:
def square(x):
  return x*x

square(10)

100

In [7]:
#lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
## map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [13]:
## map() to convert a list of string to integers
# use map to convert strings to integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))


print(int_numbers) #output:[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [14]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [17]:
def get_name(person):
  return person['name']

people=[
  {'name':'sandhya','age':32},
  {'name':"sayli",'age':23}

]
list(map(get_name,people))

['sandhya', 'sayli']