In [1]:
## creating a tuple

empty_tuple=[]
print(empty_tuple)
print(type(empty_tuple))

[]
<class 'list'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
number=tuple([1,2,3,4,5,6])
number

(1, 2, 3, 4, 5, 6)

In [7]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [8]:
## Accessing tuple elements

number

(1, 2, 3, 4, 5, 6)

In [11]:
print(number[2])
print(number[-1])

3
6

In [12]:
number[0:4]

(1, 2, 3, 4)

In [16]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [17]:
##tuple operation

concatenation_tuple=number+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [18]:
mixed_tuple*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [20]:
number*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [22]:
## immutable nature of tuples

lst=[1,2,3,4,5,6]
print(lst)

lst[1]="sandhya"
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 'sandhya', 3, 4, 5, 6]

In [23]:
number[1]="sandhya"

TypeError: 'tuple' object does not support item assignment

In [24]:
## tuples method

print(number.count(1))
print(number.index(3))

1
2

In [25]:
## packing and unpacking tuple
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [26]:
## unpacking

a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
hello
3.14

In [27]:
## unpacking with *
number=(1,2,3,4,5,6)
first,*middle,last=number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [31]:
## nested tuple

lst=([1,2,3,4,],[6,7,8,9],[1,"hello",3.14,"c"])
lst[0][0:3]

[1, 2, 3]

In [32]:
lst=[[1,2,3,4,],[6,7,8,9],(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [35]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [36]:
##iterating over nested tuple

for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item,end="")
  print()

123
abc
TrueFalse