In [1]:
a=100

In [2]:
##declaring and assigning variables

age=32
height=6.2
name="sandhya"
is_student=True

##printing the variables

print("age:",age)
print("height:",height)
print("name",name)

age: 32
height: 6.2
name sandhya

In [3]:
##naming conventions
##variables names should be descriptive
## they must always start with letter or an '_' and contain letter,numbers and underscores
## variables name are case sensitive

first_name="SAndhya"
last_name="mandlik"

In [5]:
#inavlid variable name
##2age=30
#first-name="sandhya"
#@name="sandhya"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1164640593.py, line 3)

In [7]:
## understanding variable types
# python ids dyanamically typed,type of a variable is determined at runtime

age=25
height=6.1
name="sandhya"
is_student=True

print(type(name))

<class 'str'>

In [8]:
##typechecking and conversion

type(height)

float

In [9]:
age=32
print(type(age))

#type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
32
<class 'str'>

In [10]:
age='25'
print(type(int(age)))

<class 'int'>

In [11]:
name="sandhya"
print(int(name))

ValueError: invalid literal for int() with base 10: 'sandhya'

In [12]:
height=5.11
print(type(height))

<class 'float'>

In [13]:
float(int(height))

5.0

In [14]:
#dynamic typing
var=10
print(var,type(var))

var="hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [16]:
##input
age=input("what is the age")
print(age, type(age))

34 <class 'str'>

In [17]:
##simple calculator

num1=float(input("enter the first number:"))
num2=float(input("enter the second number:"))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("sum:",sum)
print("difference:",difference)
print("product:",product)
print("quotient:",quotient)

sum: 7.0
difference: -1.0
product: 12.0
quotient: 0.75